<h1>Intituto Superior Tecnologico de Turismo y Patrimonio Yavirac </h1>
<h2>Santiago Guallichico</h2>
<h3>Desarrollo de software</h3>
<h4>5to Vespertino A </h4>

<div class="card">
  <div class="card-header">
      Producto
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Producto:</label>
    <input type="text" id="title" [value]="selectedProduct.title" class="form-control">
    <br>
    <label for="title" class="form-label">Precio:</label>
    <input type="text" id="title" [value]="selectedProduct.price" class="form-control">
    <br>
    <label for="title" class="form-label">Descripcion</label>
    <textarea name="" id="description"  class="form-control" cols="30" rows="10">{{selectedProduct.description}}</textarea>

      <button class="btn btn-success" (click)="updateProduct">Guardar</button>
  </div>
  <br>
  <div class="card-footer text-muted">
      Footer
  </div>
</div>
<hr>
<div class="table-responsive">
  <table class="table table-primary">
      <thead>
          <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Actualizar</th>
          </tr>
      </thead>
      <tbody>
          <tr class="" *ngFor="let product of products">
              <td>{{product.title}}</td>
              <td>{{product.price}}</td>
              <td>{{product.description}}</td>

              <td><img src="{{product.images}}" alt="" width="150px" height="200px">

              <td> <label for="my-modal-6" class="btn glass modal-button  btn-outline  btn-secondary  btn-sm">Eliminar</label></td>

              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h2 class="font-bold text-lg">Advertenca!</h2>
                  <h3 class="font-bold text-lg">Esta seguro de eliminar este registro!</h3>
                  <p class="py-4">no se podran revertir los cambios!</p>
                  <div class="modal-action">
                    <label for="my-modal-6" class="btn btn-outline btn-warning" (click)="deleteProduct(product.id)">confirmar!</label>
                    <label for="my-modal-6" class="btn btn-ghost">Cancelar!</label>
                  </div>
                </div>
              </div>

              <td><button (click)="editProduct(product)" >editar</button></td>

          </tr>
      </tbody>
  </table>
</div>





